<!DOCTYPE html>
<html>
<head>
    <title>背景画像の挿入</title>
</head>
  <body>
    <div id="top" class="big-bg">

      <div class="top-content">
      <br>
      <h2>こちらウチの冷蔵庫のメインページです</h2>
      <hr>

      <p>「ウチの冷蔵庫」は、購入した食材の無駄を無くすための食材管理アプリです</p>
      <br>
      <p>日常生活の中で、うっかり冷蔵庫の食材をダメにしてしまう経験はありませんか？</p>
      <p>食べ物とそれにかかるお金の「もったいない」を解消する手助けになればいいなと思い</p>
      <p>シンプルに食材管理ができるアプリの開発に着手しました！</p>
      <br>
      <p>食材を登録すると、賞味期限が把握出来ます</p>
      <br>
      <p>【アプリケーションの機能】</p>
      <br>
      <p>1.食材を登録し、賞味期限の管理ができる</p>
      <p>2.YOUTUBEでレシピ検索ができる</p>
      <br>
      <br>
      <br>

      <!--------未記述 追記修正予定------------>
      <p></p>
      <p></p>
      <br>
      <br>
      <br>
      </div>
    </div>
  </body>
</html>