/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1px; */
  background-color: #fff;
  color: black;
}

.logo {
  max-width: 100%;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  font-size:12px;
  margin: 0 10px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

nav ul li a:hover{
  color: #fafafa;
}

footer {
  background-color: #ffffff;
  color: black;
  padding: 15px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}

footer p {
  margin: 0;
  font-size:12px;
  /* font-family: 'Caveat', cursive; */
}

#error_explanation {
  color: #898989;
  padding-bottom: 20px;
}