// Place all the styles related to the FoodStocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.day.wday-0{
  color: red;
  background-color: #ffc1c1;
}
//日曜日
.day.wday-6{
  color: blue;
  background-color: #c1e0ff;
}
//土曜日